* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* nav will start here  */
html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-image: url(Assets/photoshop/design-assets/bgk-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

nav ul a:active {
    color: #68dacd;
}

/* nav will end here  */

/* main section hero will start here  */
#hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
}
/* main section hero will end here  */

/* main section our-story will start here  */

/* main section our-story will end here  */

/* main section watch-our-story will start here  */

/* main section watch-our-story will end here  */

/* main section expertise will start here  */

/* main section expertise will end here  */

/* main section meet-team will start here  */

/* main section meet-team will end here  */

/* main section news-and-clients will start here  */

/* main section news-and-clients will end here  */

/* footer will start here  */

/* footer will end here  */
